.page { 
	width: 100%;
	background-color: #272822;
}

a {
	color: #000;
	text-decoration: none;
}

.header {
	width: 100%;
	min-height: auto;
	background: linear-gradient(to top,#232323,#666666);
	font-family: 'Amatic SC';
	font-size: 26px;
	font-weight: 500;
	text-shadow: 0 2px 2px rgba(139, 69, 19,.5);
	color: #FFD700;
}

.header-content {
	display: flex;
}

.header-logo {
	display: flex;
	flex-basis: 25%;
	justify-content: flex-end;
	padding-right: 50px;
}
.header-logo img {
	height: 56px;
	width: 220px;
}

.header-menu{
	flex-basis: 50%;
}

.header-list{
	display: flex;
	justify-content: space-evenly;
	transition: all .5s;
}

.header-list__item {
	position: relative;
	padding: 15px 0;
}
.header-list__item a:hover {
	transition: all 0.3s;
	text-shadow: 0 0 20px #fff;
}

.header-list__item a {
	transition: all 0.3s;
	color: #FFD700;
}

.header-list__item-drop {
	display: none;
	position: absolute;
	z-index: 5;
	margin-top: 10px;
	left: -10px;
}

.header-list__item-drop li {
	display: block;
	padding: 10px;
	background-color: #232323;
	border: 1px solid #000;
	transition: all .5s;
	font-size: 22px;
	letter-spacing: 1px;
}
.header-list__item-drop li:hover {
	transform: translateX(8px);
}

.header-list li:hover > ul {
	display: block;
}


.header-list__drop-left {
	margin-top: -33px;
	left: 144px;
}

.header-autr {
	display: flex;
	justify-content: flex-end;
	flex-basis: 25%;
	align-items: center;
	padding-right: 30px;
}

.header-autr__item {
	padding: 10px;
	background: linear-gradient(to top,#D2691E,#FCDD76) ;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(139, 69, 19,1);
	text-align: center;
}

a.header-autr__item:hover {
	background: #FCDD76;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
	min-height: 100px;
	background-color: #1e1e1b;
	font-family: "Alfios";
	text-align: center;
}

.footer span {
	color: #FFD700;
}

.footer img {
	margin: 8px;
	width: 40px;
	height: 40px;
}

.footer a {
	transition: all .5s;
}

.footer a:hover {
	transition: all .5s;
	transform: scale(1.2);
}

.content {
	font-family: "Alfios";
}

.test-choose {
	display: flex;
	flex-direction: column;
	color: #fff;
}

.test-choose__item {
	display: flex;
	flex-direction: column;
	padding: 30px 30px 10px 100px;
}

.question{
	color: #ffd700;
	max-width: 1000px;
	padding: 10px;
	font-size: 26px;
	/*#c6ffff*/
}

.test-choose__item p {
	margin: 5px 5px 5px 30px;
	font-size: 22px;
}

.test-choose__item input {
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin: 0 3px 0 0;
}

.test-choose__item label {
	transition: all .2s;
}

input + label {
  cursor: pointer;
}

.test-choose__item input:not(checked) {
  position: absolute;
  opacity: 0;
}

.test-choose__item input:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}

.test-choose__item input:checked + label {
  position: relative;
  padding: 0 0 0 35px;
  color: #DAA520;
}

.test-choose__item input:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}

.test-choose__item input:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #DAA520;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .4s;
}

.test-choose__item input:checked + label:after {
  opacity: 1;
}

.test-choose__item input:focus + label:before {
  box-shadow: 0 0 0 3px rgba(218, 165, 32,.5);
}

.headline {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: #ffd700;
	margin: 30px 0 0 0;
}

.headline img {
	width: 320px;
	height: 180px;
}

.test-write {
	display: flex;
	flex-direction: column;
	color: #fff;
}

.headline-write {
	font-size: 35px;
	padding: 40px 0 10px 100px;
	font-weight: 600;
	letter-spacing: 1px;
}

.test-write__item {
	display: flex;
	flex-direction: column;
	padding: 30px 30px 10px 100px;
}

.test-write__item textarea {
	font-family: 'Alfios';
	font-size: 19px;
	max-width: 1200px;
	height: 100px;
	resize: none;
	padding: 5px;
}

.submit {
	width:300px;
	height:75px;
	margin: 80px auto 60px;
	background: linear-gradient(to top,#D2691E,#FCDD76);
	border-radius: 15px;
	font-size: 40px;
	font-family: 'Amatic SC';
	display: flex;
	justify-content: center;
	align-items: center;
	transition: border-radius .5s, font-size .5s;
	border: none;
	cursor: pointer;
}

.submit:hover {
	transition: all .5s;
	border-radius: 40px;
	font-size: 45px;
}

.hint-test-choose {
	display: none;
	width: 250px;
	height: 25px;
	padding: 5px;
	text-align: center;
	font-style: italic;
	position: absolute;
	top: 0;
	left: 250px;
	background-color: #ad0000;
	border: 1px solid #fff;
	border-radius: 5px;
}