@font-face {
	font-family: "Amatic SC";  
	src: url('fonts/Amatic_SC/AmaticSC-Regular.ttf') format("truetype"); 
	font-style: normal; 
	font-weight: 400;
 }

@font-face {
	font-family: "Alfios";  
	src: url('fonts/Alfios/AlfiosRegular/AlfiosRegular.ttf') format("truetype"); 
	font-style: normal; 
	font-weight: 400;
 }
