.page { 
	width: 100%;
	background-color: #272822;
}

a {
	color: #000;
	text-decoration: none;
}

.header {
	width: 100%;
	min-height: auto;
	background: linear-gradient(to top,#232323,#666666);
	font-family: 'Amatic SC';
	font-size: 26px;
	font-weight: 500;
	text-shadow: 0 2px 2px rgba(139, 69, 19,0.5);
	color: #FFD700;
}

.header-content {
	display: flex;
}

.header-logo {
	display: flex;
	flex-basis: 25%;
	justify-content: flex-end;
	padding-right: 50px;
}

.header-menu{
	flex-basis: 50%;
}

.header-list{
	display: flex;
	justify-content: space-evenly;
	transition: all 0.5s;
}

.header-list__item {
	position: relative;
	padding: 15px 0;
}
.header-list__item a:hover {
	transition: all 0.3s;
	text-shadow: 0 0 20px #fff;
}

.header-list__item a {
	transition: all 0.3s;
	color: #FFD700;
}

.header-list__item-drop {
	display: none;
	position: absolute;
	z-index: 5;
	margin-top: 10px;
	left: -10px;
}

.header-list__item-drop li {
	display: block;
	padding: 10px;
	background-color: #232323;
	border: 1px solid #000;
	transition: all .5s;
	font-size: 22px;
	letter-spacing: 1px;
}
.header-list__item-drop li:hover {
	transform: translateX(5px);
}

.header-list li:hover > ul {
	display: block;
}

.header-autr {
	display: flex;
	justify-content: flex-end;
	flex-basis: 25%;
	align-items: center;
	padding-right: 30px;
}

.header-autr__item {
	padding: 10px;
	background: linear-gradient(to top,#D2691E,#FCDD76) ;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(139, 69, 19,1);
	text-align: center;
}

/*Slider start*/

.slider {
	width: 100%;
	min-height: 600px;
	background-color: black;
	color: white;
	font-size: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.slider input {
	display: none;
}

.slider-item label {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 12px;
    background: rgba(90, 90, 90, 0.8);
    border: 2px solid rgba(190, 190, 190, 0.8);
    position: relative;
    z-index: 5;
	margin: 0 10px 20px 0;
	transition: background 0.8s ease-out 0s;
}

.slider-item input + label:hover {
    background: rgba(250, 250, 250, 0.8);
}

.slider-item input:checked + label {
    background: rgba(220, 220, 220, 0.8);
}

.slider__img {
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}


.slider-item .slider__img {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.slider-item > input:checked + label + .slider__img {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.slider__img-first {
	background-image: url(img/slider-test/lion.jpg);
}

.slider__img-second {
	background-image: url(img/slider-test/pantera.jpg);
}

.slider__img-third {
	background-image: url(img/slider-test/tiger.jpg);
}

/*Content start*/

.content {
	font-family: "Alfios";
}

.content-first {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}


.content-circle {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.content__item-first__circle {
	background-color:red;
}

.content__item-second__circle {
	background-color:green;
}

.content__item-third__circle {
	background-color:blue;
}

.content__item-first {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	margin: 100px 20px 20px 20px;
	text-align: center;
}

.content__first-text {
	color: white;
}

.content__first-text h2 {
	color: #FFD700;
	font-size: 2em;
	padding: 10px 0 10px;
}

.content__first-text p {
	font-size: 1em;
}

.content-second h3 {
	text-align: center;
	color: #FFD700;
	font-size: 2.5em;
	padding: 100px 0 30px;
}

.content__item-second {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	flex-basis: 70%;
}

.content__img {
	background-color: #fff;
	width: 850px;
	height: 200px;
	margin: 0 20px 20px 20px;
}

.content__second-text {
	max-width: 35%;
	font-size: 1em;
}

.button a {
	width:400px;
	height:100px;
	margin: 100px auto 100px;
	background: linear-gradient(to top,#D2691E,#FCDD76);
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(230, 69, 19,1);
	font-size: 50px;
	font-family: 'Amatic SC';
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform .5s;
}

.button a:hover {
	transition: all .5s;
	transform: scale(1.1);
}

.footer-first {
	display: flex;
	flex-basis: 100%;
	min-height: 300px;
	background-color: #1e1e1b;
	font-family: "Alfios";
}

.footer-menu {
	display: flex;
	justify-content: center;
	flex-basis: 100%;
}

.footer-menu__item {
	text-align: center;
	margin: 20px 50px 0 20px;
}

.footer-menu__item li {
	color: white;
	padding: 15px 0;
}

.footer-menu__item a {
	color: white;
}

.footer-menu__item li:first-child {
	color: #FFD700;
	font-size: 1.5em;
}